<h1>Welcome</h1>
<p class="mb-2">This is storyBooks version 1.0.0</p>
<p class="mb-2">Here you can add your life stories which can be made public or private and share among the others using
    the application</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fab fa-google-plus left"></i>Login With Google</a>
{{/if}}